{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>SDG Quest</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/animated.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/fontawesome.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/templatemo-digimedia-v1.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/templatemo-digimedia-v2.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/templatemo-digimedia-v3.css' %}"
    />
  </head>
  <body>
   
  <!-- Pre-header Starts -->
    <div class="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8 col-7">
            <ul class="info">
             
                <li>
                   <a href="https://mariancollege.org/">
            <img style="height: 40px; width: 100px; " src="{% static 'images/marian-college-02.png' %}" alt="Image 1 description">
          </a>
          </li>
         <li>
                   <a href="https://sahyafest.in/">
            <img style="height: 40px; width: 70px; " src="{% static 'images/sahya4.png' %}" alt="Image 1 description">
          </a>
          </li>
              <li>
                   <a href="https://www.instagram.com/sswspectra_mcka?igsh=MXB5cGt1c3oyMGFtMw==">
            <img style="height: 40px; width: 70px; " src="{% static 'images/output_image.jpeg' %}" alt="Image 1 description">
          </a>
          </li>
              <li>
  <a href="tel:+917594971020"><i class="fa fa-phone"></i>+91 - 7594971020</a>
</li>

             
            </ul>
          </div>
          <div class="col-lg-4 col-sm-4 col-5">
            <ul class="social-media">
              <li>
                <a href="https://www.facebook.com/mariancollegeofficial/"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/mariancollegeofficial/?hl=en"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/MarianCollege?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/MarianCollege?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Pre-header End -->

    <!-- ***** Header Area Start ***** -->
    <header
      class="header-area header-sticky wow slideInDown"
      data-wow-duration="0.75s"
      data-wow-delay="0s"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="/" class="logo">
                <img style="height: 60px; width: 100px;" src="{% static 'images/sdg2.png' %}" alt="" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/" class="active">Home</a>
                </li>
                <li class="scroll-to-section"><a href="/about">About</a></li>
                <li class="scroll-to-section">
                  {% if user.is_authenticated %}
                  <a href="/goals">View Goals</a>
                  {% else %}
                  <a href="/signup">Sign Up</a>
                  {% endif %}

                  {% if user.is_authenticated %}
                 <li class="scroll-to-section">
                  <a href="/completed_goals">Completed Goals</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/update_password">Change Password</a>
                </li>
                {% endif %}
                </li>

                <li class="scroll-to-section">
                  <a href="/contact">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="scroll-to-section">
                  <div class="border-first-button">
                    <a href="/signout">Logout</a>
                  </div>
                </li>
                {% else %}
                <li class="scroll-to-section">
                  <div class="border-first-button">
                    <a href="/signin">Login</a>
                  </div>
                </li>
                {% endif %}
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
<br>
    <div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h6>Our Goals</h6>
                    <h4>EcoLife <em>Innovations</em></h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="first-thumb active"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Greening Our Tomorrow &amp; A Path to Sustainable Living</h4>

                                                            <div class="sdg-list">
                                                                <div class="container">
                                                                    {% for goal_data in goals_and_tasks %}
                                                                    <div>
                                                                        <i class="fa fa-check"></i>
                                                                        {{ goal_data.goal.title }}
                                                                        <p>{{ goal_data.goal.description }}<br>
                                                                            {% if goal_data.tasks %}
                                                                            {% for task in goal_data.tasks %}
                                                                            <a class="goal-button"
                                                                                href="{% url 'task_list' task.id %}">Complete
                                                                                {{ task.title }}</a><br>
                                                                            {% endfor %}
                                                                            {% else %}
                                                                            No tasks available for this goal.
                                                                            {% endif %}
                                                                        </p>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    </div>
    <br>

        <div class="row">
            <center>
                <div class="container">
                    <div class="col-lg-12 d-flex flex-column">
                        <div class="image">
                            <img src="{% static 'images/goal.jpg' %}" alt="" style="width: 800px; height: 800px;" />
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.map' %}"></script>
    <script src="{% static 'js/jquery.slim.js' %}"></script>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.slim.min.map' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
  </body>
</html>
